@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
  --primary: #8bddff;
  --dark: #21252f;
  --body: #e5ebee;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Sora', sans-serif;
  background-color: var(--primary);
  color: var(--body);
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-2 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.navbar .logo {
  width: 120px;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.btn {
  padding: 14px 20px;
  border-width: 1px;
  border-radius: 0;
}

.hero {
  background-image: url(../img/cover.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(139, 221, 255, 0.8);
  z-index: -1;
}

section {
  padding-top: 60px;
  padding-bottom: 0px;
  overflow-x: hidden;
  background-color: #e5ebee;
}

.informational-text {
  color: var(--dark);
  font-weight: 500;
}

#carouselSection {
  /* Adjust the carousel height */
  height: 1250px;
  width: 100%;
}

.carousel-inner {
  /* Center the carousel content vertically */
  display: flex;
  overflow: hidden;
}

.card-horizontal {
  /* Adjust the card's width */
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  /* Position the indicators at the bottom */
  display: none;
}

#services {
  background-color: #e5ebee;
}

.expertSection {
  margin-top: 60px;
  background-color: #8bddff;
  margin-bottom: 60px;
}

.expertSection .mt-3 {
  margin-bottom: 60px;
}

.expertSection .card {
  box-shadow: var(--box-shadow);
  display: flex;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.expertSection .card-image {
  flex-shrink: 0;
  width: 100%;
  height: 405px;
  object-fit: cover;
}

.expertSection .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expertSection .card-content {
  padding: 20px;
}

.expertSection .card-title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
}

.expertSection .card-description {
  margin-bottom: 0;
  color: var(--dark);
  font-weight: 500;
}

@media (max-width: 768px) {
  .expertSection .card {
    flex-direction: column;
    align-items: center;
  }

  .expertSection .card-image {
    width: 100%;
    height: 350px;
  }

  .expertSection .card-content {
    text-align: center;
  }
}

#bookingSection {
  background-color: #e5ebee;
  padding-top: 60px;
  padding-bottom: 60px;
}

.breadcrumb-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.breadcrumb-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumb-item span {
  color: #21252f;
  font-weight: bold;
}

.breadcrumb-box {
  display: inline-block;
  padding: 8px 12px;
  background-color: #e5ebee;
  color: #333;
  border-radius: 4px;
}

.breadcrumb-item.active .breadcrumb-box {
  background-color: #8bddff;
  color: #fff;
}

#aboutUs {
  background-color: #8bddff;
  padding-top: 60px;
  padding-bottom: 60px;
}

#aboutUs .card {
  box-shadow: var(--box-shadow);
  display: flex;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

footer {
  background-color: #f8f8f8;
  padding: 20px 0;
}

footer h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer p {
  margin-bottom: 5px;
}

.social-media {
  list-style: none;
  padding: 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.social-media a:hover {
  color: #777;
}
